/* line 1, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper {
  overflow: hidden;
  height: 100vh;
}

/* line 5, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 64px;
  z-index: 10;
}

/* line 13, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-logo {
  border-bottom: 1px solid #435169;
}

/* line 15, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-logo img {
  width: 36px;
}

/* line 22, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-menu li a {
  background-color: #142543;
  color: #D8E2F3;
  font-size: 19px;
  height: 40px;
  width: 48px;
}

/* line 28, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-menu li a:hover, .app-wrapper .app-menu-wrapper .app-menu li a.active {
  background-color: #1B325A;
  color: #FFFFFF;
}

/* line 34, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-menu li a.active:before {
  content: "";
  height: 24px;
  width: 4px;
  background: #3B6EC4;
  border-radius: 0 4px 4px 0;
  left: -8px;
  position: absolute;
}

/* line 45, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .app-menu li .menu-modal-btn {
  cursor: pointer;
}

/* line 53, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .user-menu .dropdown .avatar {
  cursor: pointer;
  width: 100%;
}

/* line 57, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-menu-wrapper .user-menu .dropdown .dropdown-menu {
  transform: translate3d(54px, -16px, 0px) !important;
}

/* line 65, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body {
  padding-left: 64px;
}

/* line 68, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .panel {
  height: 100vh;
}

/* line 70, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .panel .panel-heading {
  height: 60px;
}

/* line 75, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .panel-side {
  max-width: 320px;
  min-width: 240px;
}

/* line 81, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .chat-head-sidebar .chat-head-container {
  overflow: auto;
  height: calc(100% - 60px);
}

/* line 84, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .chat-head-sidebar .chat-head-container .chat-head {
  margin-bottom: 1px;
}

/* line 86, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .chat-head-sidebar .chat-head-container .chat-head:hover {
  background-color: #F9FAFB;
  cursor: pointer;
}

/* line 90, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .chat-head-sidebar .chat-head-container .chat-head.active {
  background-color: #F1F3F5;
}

/* line 98, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .conversation-messages-container {
  height: calc(100% - 230px);
  overflow-y: auto;
}

/* line 101, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .conversation-messages-container .conversation-message-content {
  line-height: 1.3;
}

/* line 105, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .conversation-messages-container .conversation-message:last-child {
  margin-bottom: 0 !important;
}

/* line 111, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .reply-box {
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 116, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .reply-box .reply-box-container .reply-box-body {
  max-height: 80px;
  overflow-y: auto;
}

/* line 121, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .reply-box .reply-box-container .reply-box-controls .btn {
  padding: 8px;
}

/* line 123, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .conversation-view .reply-box .reply-box-container .reply-box-controls .btn:hover {
  background-color: #F1F3F5;
}

/* line 133, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container {
  overflow: auto;
  height: calc(100% - 60px);
}

/* line 138, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .contact-meta .contact-details-data.inline-edit {
  padding: 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* line 142, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .contact-meta .contact-details-data.inline-edit .form-control-plaintext {
  padding: 0;
}

/* line 145, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .contact-meta .contact-details-data.inline-edit:hover {
  cursor: pointer;
  background-color: #F1F3F5;
}

/* line 148, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .contact-meta .contact-details-data.inline-edit:hover .form-control-plaintext {
  cursor: pointer;
}

/* line 156, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .activity-feed .activity-feed-icon {
  height: 24px;
  width: 24px;
}

/* line 160, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
.app-wrapper .app-body .contact-sidebar .contact-container .activity-feed .activity-feed-meta {
  font-size: 0.875em;
}

/* line 173, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-input .search-icon {
  z-index: 1;
  left: 16px;
}

/* line 177, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-input input.form-control {
  border: none;
  padding-left: 36px !important;
}

/* line 180, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-input input.form-control:focus {
  box-shadow: none;
  border: none;
}

/* line 185, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-input .btn-close {
  z-index: 1;
  right: 16px;
}

/* line 191, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-category-filter .search-category-filter-item {
  transition: all 0.3s ease;
  cursor: pointer;
}

/* line 194, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-category-filter .search-category-filter-item:hover {
  background-color: #F1F3F5;
}

/* line 198, ../../../../../Users/liamyoung/Documents/Repos/Gecko-Chat-v2/styles/GeckoChat.scss */
#search-modal .search-category-filter .category-icon {
  width: 18px;
}

/*# sourceMappingURL=GeckoChat.css.map */