.command-window {
  .command-window-header {
    padding: 0;
    .search-field {
      width: 100%;
      input {
        border-radius: 0;
        border: none;
        background-color: transparent;
        padding: $spacer * 1.5 $spacer * 2 $spacer * 1.5 $spacer * 5;
        &:focus {
          box-shadow: none;
        }
      }
      .search-icon {
        position: absolute;
      }
    }
    .btn-close {
      margin: 0 12px
    }
  }
  .command-window-footer {
    background-color: $grey-25;
    border: none;
  }
  .command-window-body {
    .search-category-filter {
      .search-category-filter-item {
        transition: all 0.3s ease;
        cursor: pointer;
        svg,
        i {
          width: 18px;
        }
        &:hover {
          background-color: $grey-50;
        }
      }
    }
  }
}