.app-wrapper {
    overflow: hidden;
    height: 100vh;

.app-menu-wrapper {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 64px;
    z-index: 10;

    .app-logo {
        border-bottom: 1px solid #435169;
        img {
            width: 36px;
        }
    }

    .app-menu {
        li {
            a {
                background-color: #142543;
                color: #D8E2F3;
                font-size: 19px;
                height: 40px;
                width: 48px;
                &:hover,
                &.active {
                    background-color: #1B325A;
                    color: #FFFFFF;
                }
                &.active {
                    &:before {
                        content: "";
                        height: 24px;
                        width: 4px;
                        background: #3B6EC4;
                        border-radius: 0 4px 4px 0;
                        left: -8px;
                        position: absolute;
                    }
                }
            }
            .menu-modal-btn {
                cursor: pointer;
            }
        }
    }

    .user-menu {
        .dropdown {
            .avatar {
                cursor: pointer;
                width: 100%;
            }
            .dropdown-menu {
                transform: translate3d(54px, -16px, 0px) !important;
            }
        }
    }

}

.app-body {
    padding-left: 64px;

    .panel {
        height: 100vh;
        .panel-heading {
            height: 60px;
        }
    }

    .panel-side {
        max-width: 320px;
        min-width: 240px;
    }

    .chat-head-sidebar {
        .chat-head-container {
            overflow: auto;
            height: calc(100% - 60px);
            .chat-head {
                margin-bottom: 1px;
                &:hover {
                    background-color: #F9FAFB;
                    cursor: pointer;
                }
                &.active {
                    background-color: #F1F3F5;
                }
            }
        }
    }

    .conversation-view {
        .conversation-messages-container {
            height: calc(100% - 230px);
            overflow-y: auto;
            .conversation-message-content {
                line-height: 1.3;
            }
            .conversation-message {
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }

        .reply-box {
            bottom: 0;
            left: 0;
            right: 0;
            .reply-box-container {
                .reply-box-body {
                    max-height: 80px;
                    overflow-y: auto;
                }
                .reply-box-controls {
                    .btn {
                        padding: 8px;
                        &:hover {
                            background-color: #F1F3F5;
                        }
                    }
                }
            }
        }
    }

    .contact-sidebar {
        .contact-container {
            overflow: auto;
            height: calc(100% - 60px);
            .contact-meta {
                .contact-details-data {
                    &.inline-edit {
                        padding: 4px;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                        .form-control-plaintext {
                            padding: 0;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: #F1F3F5;
                            .form-control-plaintext {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .activity-feed {
                .activity-feed-icon {
                    height: 24px;
                    width: 24px;
                }
                .activity-feed-meta {
                    font-size: 0.875em;
                }
            }
        }
    }

}

}

#search-modal {
    .search-input {
        .search-icon {
            z-index: 1;
            left: 16px;
        }
        input.form-control {
            border: none;
            padding-left: 36px !important;
            &:focus {
                box-shadow: none;
                border: none;
            }
        }
        .btn-close {
            z-index: 1;
            right: 16px;
        }
    }
    .search-category-filter {
        .search-category-filter-item {
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                background-color: #F1F3F5;
            }
        }
        .category-icon {
            width: 18px;
        }
    }
}

// .activity-feed#activity-feed-accordion.collapse:not(.show) {
//     display: block;
//     height: 3rem;
//     overflow: hidden;
// }

// .activity-feed#activity-feed-accordion.collapsing {
//     height: 3rem;
// }

// a.activity-feed-reveal::after {
//     content: '+ Show More';
// }

// a.activity-feed-reveal:not(.collapsed)::after {
//     content: '- Show Less';
// }